@import '../../resources/common-styles/variables';



// ======================================================
//	Colors
// ======================================================
$color-gray: #DCDCDC;
$color-gray-light: #F2F2F2;
$color-gray-dark: #D8D8D8;
$color-gray-darkness: #838282;